*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
 font-size: 16px;
 min-width: 100%;
 overflow-x: hidden;
}

/* the css below is for the elements i couldn't find in bootstrap */
.navbar-nav{
   padding-right: 4rem !important;
   font-family: 100 !important;
   font-size: 1.1rem !important;
} 

.nav-link:hover {
  color: rgb(234, 230, 230)!important;
   text-decoration: underline !important;
}

.image-container:hover{
      transform: scale(1.1);
      width: 100%;
}
.image-feature-container{
  display: flex !important;
  justify-content: center !important;

}
.image-feature-container img{
  width: 13%;
  margin: 0 40px;
  height: 170px;
  border-radius: 6rem 6rem 6rem 6rem;
}
.feature-para{
    position: relative !important;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.3rem;
}

a{
  text-decoration: none;
  color: black;
}

.table-container th{
  position: relative;
    font-weight: bolder;
    bottom: 2rem;
}

.table-container td{
  border: 2px solid rgb(159, 157, 157);
     font-weight: 500;

}

.table-container{
        text-align: center;
        margin:10px auto;
        padding-top: 3rem;
       display: flex;
       flex-direction: column; 
       width: 70%;
      box-shadow: 0px 0px 7px 7px rgba(15, 0, 0, 0.2); 
                  
}

.table-container img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 2rem;
  margin: 10px auto;
}








   /* I applied this media query to make sure my background color text fits all screen sizes */

/* tablet */

@media (min-width: 768px) and (max-width: 1023px){
  .welcome-text{
          white-space: nowrap;
          position: relative; 
          right: 14rem;  
  }
  .arrow-container a{
    display: content;
  }
  
}

/*mobile*/

@media (max-width:480px) and (min-width:320px){
    .welcome-text{
          position: relative; 
          white-space: nowrap;
          right: 24.7rem;
          overflow-x: hidden;
    }
  
}

@media (max-width:390px){
    .welcome-text{
          position: relative; 
          white-space: nowrap;
          right: 25.8rem;
          overflow-x: hidden;
    }

     .contact-container input{
        width: 100% !important;
        padding-right: 4rem !important;
        padding: 0.7rem;
    }

     .contact-container label{
          padding-top: 1.5rem;
     }
  
}
@media (max-width:393px){
    .welcome-text{
          position: relative; 
          white-space: nowrap;
          right: 26rem;
          overflow-x: hidden;
    }

    .image-container:hover{
      transform: none;
      width: 100%;
    }

    .table-container{
          margin-right: 7.5rem;
          box-shadow: 0px 0px 7px 7px rgba(15, 0, 0, 0.2);
          width: 100%;
    }
    .table-container td{
      font-size: 0.9rem;
    }

     .contact-container input{
        min-width: 100% !important;
        margin-right: 7rem !important;
        padding: 0.7rem;
    }

     .contact-container label{
          padding-top: 1.5rem !important;
     }
}
@media (max-width:360px){
    .welcome-text{
          position: relative; 
          white-space: nowrap;
          right: 26.8rem;
          overflow-x: hidden;
    }

    .table-container td{
      font-size: 0.7rem;
    }

    .text-container p{
        text-align: center !important;
       
    }

    .contact-container input{
        width: 100% !important;
        padding-right: 4rem !important;
    }

     .contact-container label{
          padding-top: 1.5rem;
     }

    
  }

  


@media (max-width:320px){
    .welcome-text{
          position: relative; 
          white-space: nowrap;
          right: 28rem;
          overflow-x: hidden;
    }
  
     .contact-container input{
        width: 100% !important;
        padding-right: 4rem !important;
    }

     .contact-container label{
          padding-top: 1.5rem;
     }
}

@media (max-width:428px){
       .table-container{
          margin-right: 7.5rem;
          width: 100%;
    }
    .table-container td{
      font-size: 0.9rem;
    }

 .contact-container input{
        min-width: 100% !important;
        margin-right: 7rem !important;
        padding: 0.7rem !important;
    }

     .contact-container label{
          padding-top: 1.5rem;
     }

}
  
  