*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}
.navbar-nav{
   padding-right: 4rem !important;
   font-size: 1.1rem !important;
} 

.nav-link:hover {
  color: rgb(234, 230, 230)!important;
   text-decoration: underline !important;
}

.centered-text-container {
  position: relative;
  width: 100%; /* Ensure full width */
}

.centered-text-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(227, 227, 221);
  z-index: -1; /* To ensure text is on top */
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust height as needed */
}
.img-rck{
  width: 100px;
     border-radius: 50px; 
}
.ALL a {
   text-decoration: none;
   color: white;
}
.All-container{
  position: relative;
  width: 100%;
  
}

.All-container::after{
   content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  z-index: -1; 
  height: 35px;
  width: 13%;
  margin: 0 auto;
  border-radius: 0.5rem ;
}

.ALL P{
   padding-top: 4px;
}


@media (max-width:360px){
      
  .All-container{
  position: relative !important;
  width: 100% !important;
  
}
   .All-container::after{
  background-color: red !important;
  width: 40% !important;
  
 }
  }
@media (max-width:393px){
      
  .All-container{
  position: relative !important;
  width: 100% !important;
  
}
   .All-container::after{
  background-color: red !important;
  width: 40% !important;
  
 }
  }
@media (max-width:428px){
      
  .All-container{
  position: relative !important;
  width: 100% !important;
  
}
   .All-container::after{
  background-color: red !important;
  width: 40% !important;
  
 }
  }
@media (min-width:768px) and (max-width:900px){
      
  .All-container{
  position: relative !important;
  width: 100% !important;
  
}
   .All-container::after{
  background-color: red !important;
  width: 25% !important;
  
 }
  }
