*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.navbar-nav{
   padding-right: 4rem !important;
   font-size: 1.1rem !important;
} 

.nav-link:hover {
  color: rgb(234, 230, 230)!important;
   text-decoration: underline !important;
}

.centered-text-container {
  position: relative;
  width: 100%; /* Ensure full width */
}

.centered-text-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(227, 227, 221);
  z-index: -1; /* To ensure text is on top */
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust height as needed */
}
.img-rck{
  width: 100px;
     border-radius: 50px; 
}
.ALL a {
   text-decoration: none;
   color: white;
}
.All-container{
  position: relative;
  width: 100%;
  
}

.All-container::after{
   content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(2, 2, 3);
  z-index: -1; 
  height: 35px;
  width: 11%;
  margin: 0 auto;
  border-radius: 0.8rem ;
}

.ALL P{
   padding-top: 4px;
}

